.header {
  position: fixed;
}

.images {
  position: absolute;
  left: 350px;

}

.images img {
  height: 400px;
  margin: 5px;
}

.site-title {
  font-family: 'Quattrocento';
  font-size: 35px;
  text-align: center;
}

.site-sub-title {
  font-family: 'Lato';
  font-size: small;
  text-align: center;

}
